{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StickyNote</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <!--Import Quill (a rich text editor) stylesheet-->
  <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
  <!--Import bootstrap-->
  <link href="{% static 'Bootstrap/bootstrap.min.css' %}" rel="stylesheet">

  <!-- To prevent favicon missing error -->
  <link rel="shortcut icon" href="">
<body>
  <!-- Navigation -->
  <nav id="id_navbar" class="navbar navbar-default navbar-static-top">
    <div class='container-fluid'>
      <div class="navbar-header">
        <div class="navbar-brand navbar-left">
      		<img id="id_stickynote_img" src="{% static 'Images/stickynote.png' %}"/>
      		<div>
      			<span id="id_stickynote_title">StickyNote</span>
      		</div>
        </div>
        <!--The icon that appears on mobile devices (when not enough space is available in the navbar for it all to fit)-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!--
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="asdf" class="clickable"><a id="id_login_button" href="#">LOGIN</a></li>
        </ul>
      </div>
      -->
      <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      	{% with url_name=request.resolver_match.url_name %}
        <li{% if url_name == 'page_load' %} class="active"{% endif %}><a href="{% url 'stickynote:page_load' %}">Home</a></li>
        <li{% if url_name == 'friends_page' %} class="active"{% endif %}><a href="{% url 'friends:friends_page' %}">Friends_menu</a></li>
        {% endwith %}
      </ul>


        <!-- Logout Form for new authentication system -->
		{% if user.is_authenticated %}
		<div class="nav navbar-nav navbar-right">
		  <div class="dropdown">
		   	<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Account
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li><a href="#" class="show-login-name">Logged in as <strong>{{ user.username }}</strong></a></li>
		      <li><a href="{% url 'accounts:profile' %}">Show Profile</a></li>
		      <li>
		        <form method="POST" class="logout-button" action="{% url 'accounts:logout' %}" >
		          {% csrf_token %}
		          <button type="submit" class="btn btn-danger">Logout</button>
		        </form>
		      </li>
		    </ul>
		  </div>
		</div>
		{% endif %}

		<!-- Login Form for new authentication system -->
		{% if user.is_anonymous %}
		<div class="nav navbar-nav navbar-right">
		  <div class="dropdown">
		    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Account
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li><span class="show-login-name">Not logged in</span></li>
		      <li><a href="{% url 'accounts:login' %}">Log in</a></li>
		      <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
		    </ul>
		  </div>
		</div>
		{% endif %}
	  </div>
    </div>
  </nav>




  <!-- Login Form (old) -->
  <div id='id_dropdown_login' class='login-form hidden_elem'>
    <div class=''>
      <form id="id_login_form" method="POST">
        {% csrf_token %}
        <h4>Username</h4>
        <input name='username' placeholder="Username"/>
        <h4>Password</h4>
        <input name='password' type='password' placeholder="Password"/>
		        <p id="error_invalid_username_or_password" class="error_msg hidden_elem">ERROR: Invalid Username-Password Combination Given</p>
        <input class="submit_button clickable" type='submit' value='Sign In'/>
      </form>
    </div>
  </div>
  <!--Logout form (old)-->
  <div id="id_dropdown_logout" class='login-form hidden_elem'>
    <div class=''>
      <form id="id_logout_form">
        <h4 id="id_greeting_user">Hi USERNAME!</h4>
        <input class="submit_button clickable" type='submit' value='Log Out'/>
      </form>
    </div>
  </div>

  {% if messages %}
    <ul class="messages">
     {% for message in messages %}
      <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
     {% endfor %}
    </ul>
  {% endif %}

  {% block content %}
    {# variable content comes here #}
  {% endblock %}

  {% block JS %}
  	<!--Import JQuery-->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<!--Import the Scrollbar appear-listener-->
  	<script src="{% static 'Scripts/scrollbar-resize-listener.js' %}"></script>
  	<!-- Include the Quill library -->
  	<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <!--Import Bootstrap JS-->
    <script src="{% static 'Bootstrap/bootstrap.min.js' %}"></script>
  {% endblock JS %}
</body>

</html>
