{% extends 'stickynote/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
  <!--static path-->
  <div id="STATICPATH" style="display:none">{% get_static_prefix %}</div>

  {% for group in groups %}
    <!--Edit Group buttons-->
    <div id="group_head_{{group.id}}" class="group-block">
      <div class="group-header">
        <p class="wrap-word-newline" style="color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}})">{{group.title|upper}}</p>
        {% if author_id == request.user.id %}
        <input id="id_input_group_{{group.id}}" type="text" name='group-title' style="color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                        box-shadow: 0 0 0px rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                        background-color:rgba({{group.majorityColour.colour.r}},{{group.majorityColour.colour.g}},{{group.majorityColour.colour.b}},{{group.majorityColour.colour.a}});"
                  class="hidden_elem caps_input" value="{{group.title|upper}}" placeholder=""/>
        <div id="id_option_r_d_group_{{group.id}}" class="btn-group" role="group" aria-label="Rename|Delete">
          <button type="button" style="color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                       border-color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                       background-color:rgba({{group.majorityColour.colour.r}},{{group.majorityColour.colour.g}},{{group.majorityColour.colour.b}},{{group.majorityColour.colour.a}});"
                  class="btn btn-default btn-xs button_rename_group" id="id_rename_group_{{group.id}}">
                  Rename <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
          <label type="button" class="btn btn-default btn-xs" style=" color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                       border-color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                       background-color:rgba({{group.majorityColour.colour.r}},{{group.majorityColour.colour.g}},{{group.majorityColour.colour.b}},{{group.majorityColour.colour.a}});">
            <input class="button_share_group clickable" id="id_share_group_{{group.id}}" {{ group.shared|yesno:"checked," }} name="shared" type="checkbox" aria-label="shared">
            Shared <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          </label>
          {% if not group.cannotBeDeleted %}
            <button type="button"  style="color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                          border-color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                          background-color:rgba({{group.majorityColour.colour.r}},{{group.majorityColour.colour.g}},{{group.majorityColour.colour.b}},{{group.majorityColour.colour.a}});"
                  class="btn btn-default btn-xs button_delete_group" id="id_delete_group_{{group.id}}">
                  Delete Group <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          {% endif %}
        </div>
        <!--Confirm/Cancel title-->
        <div id="id_option_c_c_group_{{group.id}}" class="hidden_elem btn-group" role="group" aria-label="Save|Cancel">
          <button type="button"  style="color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                        border-color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                        background-color:rgba({{group.majorityColour.colour.r}},{{group.majorityColour.colour.g}},{{group.majorityColour.colour.b}},{{group.majorityColour.colour.a}});"
                class="btn btn-default btn-xs button_confirm_rename_group" id="id_confirm_rename_group_{{group.id}}">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          </button>
          <button type="button"  style="color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                        border-color:rgba({{group.majorityColour.r}},{{group.majorityColour.b}},{{group.majorityColour.g}},{{group.majorityColour.a}});
                                        background-color:rgba({{group.majorityColour.colour.r}},{{group.majorityColour.colour.g}},{{group.majorityColour.colour.b}},{{group.majorityColour.colour.a}});"
                class="btn btn-default btn-xs button_cancel_rename_group" id="id_cancel_rename_group_{{group.id}}">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          </button>
        </div>
        {% endif %}
      </div>
    </div>

    <!--Stickynotes grid -->
    <div class="stickyNotesGrid group-body">
      {% if author_id == request.user.id %}
      <div class="sticky_div">
        <div class='clickable group' id="group_{{group.id}}">
          <img class='sticky_img sticky_add_img sticky_elem' src="{% get_static_prefix %}Images/{{group.majorityColour.colour.filename}}"/>
          <img class='sticky_plus_img sticky_elem' src="{% static 'Images/plusIcon_opaque.png' %}"/>
          <div class="sticky_elem sticky_textdata">
            <p class='add_sticky_text sticky_elem'>Add Sticky</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% for sticky in stickies %}
        <!--matching groups-->
        {% if sticky.group_id == group.id %}
          <div class="sticky_data sticky_div">
            <div class="stickynote clickable" id=sticky_{{sticky.id}}>
                <img class="sticky_img sticky_elem" src="{% get_static_prefix %}Images/{{ sticky.colour.filename}}">
                <div class="sticky_elem sticky_textdata">
                  <p class="add_sticky_text">{{sticky.title}}</p>
                  <div class="add_sticky_contents hidden_elem">{{sticky.contents}}</div>
                </div>
              </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}

{% if author_id == request.user.id %}
  <div class="input-group">
    <div class="input-group-btn">
      <!-- Button and dropdown menu -->
      <label class="btn btn-default">
          <input id="id_new_group_is_shared" class="clickable" type="checkbox" aria-label="shared">
          Shared <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      </label>
    </div>
    <div class="create-new-group-name">
    <input id="id_new_group_title" type="text" class="form-control" aria-label="groupname" placeholder="Group Name">
  </div>
  </div>
<br>
  <div id="id_add_group_button" class="btn-group" role="group" aria-label="addgroup">
    <button type="button" class="btn btn-default btn-lg">Add Group <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
  </div>
  {% endif %}


  <!--The Viewer-->
  <div class="popup popup_elem hidden_elem" id="id_popup_view_sticky">
    <div class="sticky_edit popup_elem wrap-word-newline">
    	<div class="header popup_elem">
    		<h1 class="popup_elem popup_title">POPUP TITLE</h1>
    	</div>
    	<div class="body row">
        <div class="col-xs-12">
            <div id="id_popup_view_sticky_contents">
              <!--Data added dynamically using JS-->
            </div>
            <div class="buttons">
              <button type="button" id="id_open_sticky_editor" class="popup_submit_button hide_if_cannot_edit">Edit <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
              <button type="button" id="id_close_sticky_viewer" class="popup_submit_button">Back <span class="glyphicon glyphicon-eject" aria-hidden="true"></span></button>
    				</div>
        </div>
  	  </div>
    </div>
    <!--Grey out the rest of the screen (to prevent button presses as well)-->
    <div class="hide_screen"></div>
  </div>

  <!--Stickynote creation/edit screen-->
  <div class="popup popup_elem hidden_elem" id="id_popup_add_sticky">
    <div class="sticky_edit popup_elem">
    	<div class="header popup_elem">
    		<h1 class="popup_elem popup_title">POPUP TITLE</h1>
    	</div>
    	<div class="body row">
    		<div id="id_sticky_options" class="col-xs-12 col-md-4">
          <!--Stickynote Colour-->
    			<form id="id_sticky_options_form_colour" class="sticky_option_element">
    				<h3>Sticky Colour:</h3>
            {% for colour in colours %}
              <!--Colourlist-->
              <div>
                <label class="clickable" style="color:rgba({{colour.r}},{{colour.g}},{{colour.b}},{{colour.a}});">
                  <input id="colour_{{colour.id}}" type="radio" class="colour_option clickable" name="colour" value="{{colour.id}}"/><strong>{{colour.name|upper}}</strong>
                </label>
              </div>
            {% endfor %}
    			</form>
          <div id="id_sticky_options_shared" class="sticky_option_element">
            <label class="show_if_group_shared"><span class='sticky_autoshare warning'><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Auto-shared as Group is shared</span></label>
            <label class="hide_if_group_shared clickable">
              <input type="checkbox" class="clickable" name="shared" value="shared">Shared with Friends <span class="glyphicon glyphicon-globe" aria-hidden="true">
            </label>
          </div>

          <!--Group-->
          <div id="id_sticky_options_group" class="sticky_option_element">
            <select class="clickable">
              {% for group in groups %}
                <option value="{{group.id}}">{{group.title}}</option>
              {% endfor %}
            </select>
          </div>
          <!--Delete Option-->
    			<div id="id_sticky_options_delete_sticky" class="sticky_option_element edit_only clickable">
    				<div>
    					<img id="id_trashcan_icon" src="{% static 'Images/trashcan_white_closed.png'%}" height=25/>
    					<h3>Delete Sticky</h3>
    				</div>
    			</div>
    		</div>
        <div class="col-xs-12 col-md-8">
    			<form id="id_sticky_form">
    				<h2>Title:</h2>
    				<input name='title' class="editor_input" placeholder="Insert Title Here..."/>
    				<h2>Contents</h2>
    				<div class="quill_editor_holder editor_input">
    					<div class="quill_editor"></div>
    				</div>
    				<div class="buttons">
    					<input class="popup_submit_button clickable" type='submit' value='Save'/>
    					<input class="popup_cancel_button clickable" type='submit' value='Cancel'/>
    				</div>
    			</form>
      </div>
  	</div>
  </div>
  <!--Grey out the rest of the screen (to prevent button presses as well)-->
  <div class="hide_screen"></div>
</div>
{% endblock %}

{% block JS %}
    {{ block.super }} {# includes previous content in block #}
    {# view-specific imports here: #}
    <!--Quill handling of the sticky contents-->
    <script type="text/javascript">
      $(document).ready(function() {
          {# Set Contents on the notes themselves. Quill has no easy way to #}
          {# convert to html outside of its editor, so we have to use this hacky way #}

          $('.add_sticky_contents').each(function(index){
            $(this).html(quillGetHTML(JSON.parse($(this).text())));
            $(this).show();
          });

          //https://stackoverflow.com/questions/39519950/convert-quill-delta-to-html/39547833#39547833
          function quillGetHTML(inputDelta) {
            var tempCont = document.createElement("div");
            (new Quill(tempCont)).setContents(inputDelta);
            return tempCont.getElementsByClassName("ql-editor")[0].innerHTML;
          }
      });
    </script>
    <!--Import the JS file-->
  	<script src="{% static 'index.js' %}"></script>
{% endblock %}
