
{% extends 'stickynote/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!--Eric Test (used for debugging)-->
<br/>
<div class="input-group">
    <input type="text" id="search_friend_bar" class="form-control" placeholder="Search for Friends...">
    <span class="input-group-btn">
      <button id="id_search_friends_confirm" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </span>
  </div>
</div>

<div id="id_search_friends_result">
  <!--Entries added dynamically based on search result-->
</div>





<br><br><br><br>
<!--End of Test-->

<div class="content container">
    <div class="row">
        <div class="signup-wrapper">
		    <h1>Current Friends:</h1>
		    <hr>
            <ul class="friends-listed">
                {% for friends1 in friends1s %}
                <li>{{ friends1.user2 }}</li>
                {% endfor %}
                {% for friends2 in friends2s %}
                <li>{{ friends2.user1 }}</li>
                {% endfor %}
            </ul>
		</div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="signup-wrapper">
    		<h1>Pending friend requests</h1>
            <hr>
            <ul class="outgoing-friend-requests">
        		{% for outgoing in outgoings %}
                <li>{{ outgoing.receiver }} has been sent a friend request</li>
                {% empty %}
                <li>There are no pending friend requests</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="signup-wrapper">
            <h1>Incoming friend requests</h1>
            <hr>
            <ul class="incoming-friend-requests">
                {% for incoming in incomings %}
                <li>{{ incoming.sender }} has sent you a friend request</li>
                {% empty %}
                <li>There are no pending friend requests</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block JS %}
    {{ block.super }} {# includes previous content in block #}
    {# view-specific imports here: #}
    <!--Import the JS file-->
  	<script src="{% static 'friends.js' %}"></script>
{% endblock %}
