
{% extends 'stickynote/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="signup-wrapper">
		    <h1>Current Friends:</h1>
		    <hr>
            <ul class="friends-listed">
                {% for friends1 in friends1s %}
                <li>{{ friends1.user2 }}</li>
                {% endfor %}
                {% for friends2 in friends2s %}
                <li>{{ friends2.user1 }}</li>
                {% endfor %}
            </ul>
		</div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="signup-wrapper">
    		<h1>Pending friend requests</h1>
            <hr>
            <ul class="outgoing-friend-requests">
        		{% for outgoing in outgoings %}
                <li>{{ outgoing.receiver }} has been sent a friend request</li>
                {% empty %}
                <li>There are no pending friend requests</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="signup-wrapper">
            <h1>Incoming friend requests</h1>
            <hr>
            <ul class="incoming-friend-requests">
                {% for incoming in incomings %}
                <li>{{ incoming.receiver }} has sent you a friend request</li>
                {% empty %}
                <li>There are no pending friend requests</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
