
html {
	background-color: transparent !important;
}

body {
	margin: 0;
	background-image: url('./Images/treasure-map.jpg');
	background-size: 100%;

	/*For some reason bootstrap causes the site to have a vertical scrollbar unless we add a border to the body*/
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
}

/*=====================================================================================*/
/*Navigation Style*/

nav {
	/*color: #EFEFEF;*/
	margin: 4px 4px 0px 4px;
	margin-bottom: 0px !important; /*bootstrap wanted to change things up again*/
}
nav div {
	background-color: #666667;
}
nav .navbar-brand {
	/*Display the Brand Name + Image nicely next to each other*/
	display: flex;
	align-items: center;
}

#id_stickynote_img {
	padding: 10px 0px 10px 10px;
	width: 50px;
}

/* Changed from 10 10 10 10 to 0 10 0 10 so that highlighting active tab looks better (by Robin) */
nav div div {
	padding: 0px 10px 0px 10px;
}
nav .container-fluid {
	padding: 0px 30px;
}
/*
nav div li {
	letter-spacing: 0.1em;
	padding: 1em 1.25em;
}
*/


/*Override the bootstrap default blue colours*/
/*Standard dropdown button colour changes after clkicking it once*/
/*
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #666667 !important;
}
*/

/*Standard dark-blue border*/
.navbar-default .navbar-toggle {
    border-color: white !important;
}
/*Standard background*/
.navbar-default {
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b3acba;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000 !important;
  background-color: #a8a8ab !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #a8a8ab;
}
.navbar-default .navbar-toggle {
  border-color: #a8a8ab;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a8a8ab !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #a8a8ab;
  }
}

#navbar ul {
	padding-bottom: 0;
}

#id_navbar .container-fluid {
	border-radius: 10px;
}

/*=====================================================================================*/
/*Dropdown login/logout forms: */
.login-form {
	background-color: #a2a2a5;
	width: 350px;
	margin-right: 4px;
	position: absolute; /*do not overlap with any other elements on the page*/
	right: 0; /*draw at the right side of the screen*/
	z-index: 1900;
	}
	.login-form div form {
		/*More bootstrap fixes*/
		width: 100%;
	}
		.login-form div form h4 {
			color: #EFEFEF;
			text-align: center;
			width: 100%;
			margin: 10px auto 4px auto;
		}
		.login-form div form input {
			display: block;
			text-align: center;
			width: 75%;
			margin: 2px auto 4px auto;
		}
		.login-form div form .submit_button {
			margin: 15px auto 8px auto;
			background-color: #666667;
			height: 2.5em;
			display: block;
			color: #EFEFEF;
			text-align: center;
			width: 75%;
		}

/*=====================================================================================*/
/*Sticky grid: */

@media (min-width: 450px) {
    .stickyNotesGrid {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px; /*Having rows that do not fit initially (before updated in JS) looks better than only having a single row*/
        grid-template-rows: 200px;
        margin-left: 4px;
        margin-right: 4px;
        grid-auto-rows: 200px;
        /*justify-content: space-evenly;*//*This doesn't work on most browsers, so it's done dynamically in js instead by changing the padding and grid-gap*/
    }
}

@media (max-width: 450px) {
    .stickyNotesGrid {
        display: grid;
				/*grid-template-columns has been hardcoded in the JS! Changing it here won't do anything*/
        grid-template-columns: 150px 150px 150px 150px; /*Having rows that do not fit initially (before updated in JS) looks better than only having a single row*/
        grid-template-rows: 150px;
        margin-left: 4px;
        margin-right: 4px;
        grid-auto-rows: 150px;
        /justify-content: space-evenly; /*This doesn't work on most browsers, so it's done dynamically in js instead by changing the padding and grid-gap*/
    }
}

.sticky_div {
	text-align: center;
	position: relative;
}

.sticky_elem {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: block;
	overflow: hidden;
}

.sticky_textdata {
	width: 85%;
	margin: 8% auto;
	word-wrap: break-word;
	color: #EFEFEF;
}

.sticky_img {
	width: 90%;
}

.sticky_plus_img {
	width: 50%;
}

.add_sticky_text {
	font-size: 18px;
	margin-bottom: 0px;
	font-weight: bold;
}

.add_sticky_contents {
	font-size: 14px;
	margin-top: 0px;
	text-align: left;
}

/*=====================================================================================*/
/*Group Blocks*/

.group-block {
	margin: 30px 4px;
	}
	.group-block > .group-header {
			margin-left: 10px;
		}
		.group-block .group-header > p,
		.group-block .group-header input,
		.group-block .group-header div {
			margin-left: 4px;
			font-weight: 900;
			font-size: 20px;
			margin-bottom: 0px;
			display: inline-block;
			vertical-align: middle;
			}
		.group-block .group-header input[type="text"] {
			max-width: 95%;
			min-width: 250px;
		}

/*=====================================================================================*/
/*Popups:*/
.popup_elem {
	z-index: 2100; /*Popups appear in front of screen hiding*/
	position: relative; /*z-index only works for a position that is not static (the default position)*/
	margin: 0px;
	padding: 0px;
}

.popup {
		margin-top: 50px;
		margin-bottom: 50px;
		width: 80%;
		color: #EFEFEF;
		max-width: 700px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top:0;
		position: absolute;
	}
	.popup div .header {
		background-color: #666667;
		padding: 10px;
		margin-left: -15px; /*bootstrap changes the size of the body with its margins, so we add the same ones here*/
		margin-right: -15px;
		min-height: 60px;
		}
		.popup div .header > h1 {
			font-weight: bold;
		}
	.popup div .body {
		height: auto;
		padding: 10px 0px;
		text-align: center;
	}
		.popup div .body #id_sticky_options{
			/*width: 20%;*/
			display: inline-block;
			vertical-align: top;
			text-align: initial;
		}
			.popup div .body #id_sticky_options .sticky_option_element {
				display: inline-block;
				vertical-align: top;
				margin: 10px auto 4px auto;
				width: 100%;
				border-radius: 5px;
				border-width: 2px;
				border-style: solid;
				padding: 4px;

				/*tell the browser that padding/margin don't change the size of the box*/
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
			}
			.popup div .body #id_sticky_options .sticky_option_element div,
			.popup div .body #id_sticky_options .sticky_option_element h3{
				width: 100%;
				margin: 0px;
				word-wrap: break-word;
				}
				.popup div .body #id_sticky_options .sticky_option_element div label,
				.popup div .body #id_sticky_options .sticky_option_element div input,
				.popup div .body #id_sticky_options .sticky_option_element div h3,
				.popup div .body #id_sticky_options .sticky_option_element div img{
					display: inline-block;
					width: auto;
					vertical-align: top;
			}
			.popup div .body #id_sticky_options #id_sticky_options_group select{
				text-overflow: ellipsis;
				width: 100%;
			}

		.popup div .body #id_sticky_form {
			/*width: 75%;*/
			width: auto;
			display: inline-block;
			vertical-align: top;
			text-align: initial;
			max-width: 100%;
			width: 100%;
		}
		.popup div .body #id_sticky_form h2 {
			color: #EFEFEF;
			text-align: center;
			width: 100%;
			margin: 10px auto 4px auto;
		}
		.popup div .body #id_sticky_form input {
			color: black;
			display: block;
			text-align: center;
			width: 75%;
			margin: 2px auto 4px auto;
		}
		.popup div .body .buttons {
			margin: 15px auto 8px auto;
			text-align: right;
			vertical-align: bottom;
		}
		.popup div .body #id_sticky_form div .popup_submit_button,
		.popup div .body #id_sticky_form div .popup_cancel_button,
		.popup div .body .buttons .popup_submit_button,
		.popup div .body .buttons .popup_cancel_button	{
			background-color: #666667;
			height: 2.5em;
			display: inline-block;
			color: #EFEFEF;
			text-align: center;
			width: 25%;
			border-color: transparent;
			font-size: 16px;
		}
	.popup .sticky_edit {
		width: 100%;
	}
	.popup .sticky_autoshare {
		color: #a94442;;
	}

/*Viewer*/
#id_popup_view_sticky .body {
	text-align: left;
	font-size: 18px;
}
#id_popup_view_sticky .body > div #id_popup_view_sticky_contents {
	min-height: 300px;
}





/*=====================================================================================*/
/*Quill editor:*/

.quill_editor_holder .quill_editor {
	color: black;
}

.quill_editor_holder {
	background-color: white;
	color: black;
}

/*=====================================================================================*/
/*Signup form (made by Robin): */

ul.signup-req {
	font-size: 16px;
	padding-bottom: 5px;
}

ul.errorlist {
	font-size: 18px;
	color: red;
}

.signup-wrapper,
.stickyNotesGrid {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-radius: 15px;
	/* Lines below are for the background of the box. Opacity is set if RGBa is supported. */
	/* Fallback for web browsers that doesn't support RGBa */
    background: rgb(231, 227, 227);
    /* RGBa with 0.6 opacity */
    background: rgba(231, 227, 227, 0.6);
}

/* For the logout buttons in the base html */
.logout-button {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
span.show-login-name {
    display: block;
    padding: 3px 19px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: red;
    white-space: nowrap;
    /* To make the top option stand out as not pressable (as it is not pressable) */
    margin: -5px 1px 0px 1px;
    background: rgb(223, 203, 168);
 }
 .dropdown-menu {
 	background-color: rgb(231, 227, 227) !important;
 	background-color: rgba(231, 227, 227, 0.9) !important;
 	font-size: 16px !important;
 }

 .dropdown {
 	padding: 0;
 }

 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
 	color: #333 !important;
 	padding: 3px 20px;
 }

 .helptext > ul > li {
 	font-size: 16px;
 }

 .messages {
 	padding: 0px;
 	margin: 2px 5px;
 	font-size: 18px;
 	list-style-type: none;
 }

 .alert-error {
 	background-color: #f2dede;
 	border-color: #ebcccc;
 	color: #a94442;
 }

 .edit-profile {
 	padding-top: 10px;
 }

 .current-first-name {
 	font-size: 22px;
 }

 .current-last-name {
 	font-size: 22px;
 }

 .profile-title {
 	color: #666667;
 }

 .profile-username {
 	color: #337ab7;
 }

 .save-profile-edit {
 	margin-top: 20px;
 }

 .fieldWrapper {
 	padding-top: 10px;
	margin-bottom: 10px;
}

.fieldWrapper-extraspace {
	padding-top: 30px;
}

/*=====================================================================================*/
/*Friends page*/

/*Searching/adding new friends*/
#id_search_friends_result {
		margin-top: 20px;

	}
	#id_search_friends_result > ul > li:first-child {
		border-bottom: 3px solid #ddd;
		font-weight: 800;
	}
	#id_search_friends_result > ul > li td {
		text-align: center;
		word-wrap: break-word
		border: 1px solid red;
		font-size: 18px;
	}
	#id_search_friends_result > ul > li table {
		table-layout: fixed;
	}
	#id_search_friends_result > ul > li .friend-status {
		/*width: 33%;*/
	}
.add-friends-container {
		margin-top: 15px;
}


/*=====================================================================================*/
/*Misc*/

/*Hidden (menu) objects gain this class so that they're hidden by default.*/
/*renamed to hidden_elem as bootstrap overrides this*/
.hidden_elem,
.group-block .group-header .hidden_elem {
	display: none;
}

/*Fancy mousepointer for clickable elements. (class is toggled using JQuery)*/
.clickable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

/*Greyish transparent background that hides the entire screen*/
.hide_screen{
	z-index: 2000; /*bootstrap has high z-indexes as well, but we need even higher ones!*/
	background-color: rgba(100,100,100,0.8)/*rgba(153, 158, 168, 0.8)*/;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

.error_msg {
	font-weight: bold;
	color: rgb(153, 0, 0);
	width: 100%;
	text-align: center;
}

.wrap-word-newline {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.caps_input {
	text-transform:uppercase;
}

.button_share_group,
#id_new_group_is_shared {
	/*bootstrap fix: Bootstrap gives checkboxes and radio buttons a weird 4px top-margin*/
	margin-top: 0px !important;
}

.friends-listed-name {
	width: 40%;
	max-width: 40vh;
	float: left;
}

.friends-listed-stickies {
	width: 45%;
	/*max-width: 45vh;*/
	float: left;
}

.friends-listed-remove {
	width: 10%;
	max-width: 10vh;
	float: left;
}

.friends-listed > li {
	padding-bottom: 5px;
}

.container-padding-bottom {
	padding-bottom: 10px;
}

/*=====================================================================================*/
/*Debugging:*/

/*Used to see an element's borders easily*/
* {
	/*
	border-width: 1px;
	border-color: black;
	border-style: solid;
	*/
}
